<div class="form-group">
    <label for="title" class="title">Title</label>
    <input required type="text" name="title" id="title" class="form-control">
</div>
<div class="form-group">
    <label for="desciption" class="desciption">Description</label>
    <textarea required type="text" name="desciption" id="desciption" class="form-control"></textarea>

</div>

<div class="form-group">
    <label for="markdown" class="markdown">Markdown</label>
    <textarea required type="text" name="markdown" id="markdown" class="form-control"></textarea>
</div>
<a href="/" class="btn btn-secondary">Cancel</a>
<button type="submit" class="btn btn-primary"> Save</button>
